.nav{
    background-color:rgb(245, 245, 245) ;
    padding: 20px;
    margin-top:0px;
    /*width:1300px;*/
    width: 100%;
    position: fixed;
}
body{
    margin:0px;
}
.nav-item{
    text-decoration: none; 
    font-size: 19px; 
    margin-right: 40px;
    padding: 20px;
}
.nav-item:hover{
    background-color:antiquewhite ;
}